<div class="page-wrap">
	<div class="footer">
		<div class="footer-container">
			<div class="logo-container">
				<div class="logo">
					<img src="/themes/b2drop/core/img/Logo_eudat_CDI_white.svg" alt="Eudat CDI Logo" width="200px" height="60px" loading="lazy">
					<p>© 2019 EUDAT Collaborative Data Infrastructure </p>
				</div>
			</div>
			<div id="menu">
				<ul>
					<li><a href="/themes/b2drop/core/templates/imprint.html">Imprint</a></li>
					<li><a target="_blank" href="https://www.eudat.eu/eudat-cdi-aup">Terms of Use</a></li>
					<li><a href="/themes/b2drop/core/templates/data-privacy-statement.html">Data Privacy Statement</a>
					</li>
					<li><a target="_blank" href="https://eudat.eu/eudat-cdi">About EUDAT</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="secondary-footer">
		<div class="line"></div>
		<div class="funding">
			<div id="euflag">
				<img src="/themes/b2drop/core/img/euflag.png" alt="Flag of european union" height="40px" width="60px" loading="lazy">
			</div>
			<div id="eosc">
				<img src="/themes/b2drop/core/img/EOSC-hub-extended-grey.png" alt="Flag of EOSC, the european open science cloud" height="40px" width="135px" loading="lazy">
			</div>
			<div id="cofunded">
				B2DROP is co-funded by the EOSC-hub project (Horizon 2020) under Grant number 777536</div>
			<div class="container-fluid">
				<p>Powered by Nextcloud</p>
			</div>
		</div>
	</div>
</div>
</div>