<div class="page-wrap align-vertical">
    <div class="primary-header">
        <div class="section-link">
            <a href="https://eudat.eu">Go to EUDAT website</a>
        </div>
    </div>
    <div class="header align-horizontal">
        <div class="headertable">
            <div class="logo">
                <a href="/"><img src="/themes/b2drop/core/img/logo.png" alt="EUDAT B2DROP logo, Home button"
                        width="200px" height="110" loading="lazy"></a>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="/themes/b2drop/core/templates/faq.html">FAQS</a></li>
                    <li><a target="_blank" href="https://docs.eudat.eu/b2drop/">What is B2DROP</a></li>
                    <li><a target="_blank" href="https://docs.eudat.eu/b2drop/user/">USER GUIDE</a></li>
                    <li><a target="_blank" href="https://eudat.eu/support-request?service=B2DROP">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>