/*user_saml*/
#saml-select-user-back-end {
    color: #000000;
}

.login-option {
    background-color: #264899;
    text-align: center;
    border-radius: var(--border-radius-rounded, 4px);
    border: 0;
}

.align-vertical {
    display: flex;
    flex-direction: column;
}

.align-horizontal {
    display: flex;
    flex-direction: row;
}

.page-wrap .headertable {
    display: flex;
    align-items: center;
    width: 100%;
}

.page-wrap .headertable .logo:hover::after {
    opacity: 1;
}

.page-wrap .headertable #menu {
    flex: 1;
}

.page-wrap .footer .logo-container,
.page-wrap .footer #menu {
    max-width: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.page-wrap .footer .footer-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-height: 100%;
}

/* Hover logo animation, puts on sunglasses */
.page-wrap .headertable .logo {
    margin-right: -200px; /*width of logo*/
    z-index: 1; /*Otherwise the button is not pressable*/
}

.page-wrap .headertable .logo:hover {
    opacity: 0.8; /* Reduce opacity on hover */
    transform: scale(1.05); /* Scale up slightly on hover */
    transition: opacity 0.3s, transform 0.3s; /* Smooth transition */
}

.page-wrap .headertable .logo::after {
    background: rgba(0, 0, 0, 0.2); /* Semi-transparent black */
    transition: opacity 0.3s; /* Smooth transition */
}

@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap");

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.page-wrap .primary-header {
    background: #264899;
    padding: 0 8.3333vw;
}

.page-wrap .primary-header .section-link a {
    font-size: 14px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    float: left;
    font-weight: 600;
}

.page-wrap .primary-header .section-link a:hover {
    color: #f45d00;
    cursor: pointer;
    text-decoration: none;
}

.page-wrap .header {
    background: url("../img/pattern.svg") no-repeat;
    margin: 0;
    background-position: 100% 0;
    box-shadow: -7px 4px 18px -2px rgba(0, 0, 0, 0.1);
    background-size: 290px !important;
    padding: 0 8.3333vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.page-wrap .header #menu {
    line-height: 110px;
}

.page-wrap .header #menu ul {
    padding: 0;
    text-align: center;
}

.page-wrap .header #menu ul li {
    display: inline-block;
}

.page-wrap .header #menu ul li a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    color: #555;
    text-transform: uppercase;
    margin-right: 10px;
}

.page-wrap .header #menu ul li a:hover {
    color: #f45d00;
    cursor: pointer;
    text-decoration: none;
}

.page-wrap .header {
    background-color: #FFFFFF;
}

.page-wrap .footer {
    background-color: #2C2C2C;
    margin: 0;
    bottom: 70px;
    /*same as secondary footer height*/
    position: fixed;
    width: 100%;
    left: 0;
    height: 130px;
}

.page-wrap .footer,
.page-wrap .secondary-footer {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.page-wrap .footer .logo p {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

.page-wrap .footer #menu {
    line-height: 110px;
}

.page-wrap .footer #menu ul {
    padding: 0;
    text-align: right;
}

.page-wrap .footer #menu ul li {
    display: inline-block;
}

.page-wrap .footer #menu ul li a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    color: #fff;
    margin-right: 10px;
}

.page-wrap .footer #menu ul li a:hover {
    color: #f45d00;
    cursor: pointer;
    text-decoration: none;
}

.page-wrap .secondary-footer {
    background-color: #2C2C2C;
    bottom: 0px;
    min-width: 100%;
    position: fixed;
    max-height: 70px;
    height: 70px;
}

.page-wrap .secondary-footer .funding {
    display: flex;
}

.page-wrap .secondary-footer .funding:last-child {
    margin-left: auto;
}

.page-wrap .secondary-footer p {
    text-align: right;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 0px 20px 0px;
    margin-bottom: 0px;
}

.page-wrap .secondary-footer .line {
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #888;
}

#euflag {
    display: table-cell;
    width: 60px;
}

#eosc {
    display: table-cell;
    padding-left: 15px;
    width: 135px;
}

#cofunded {
    display: table-cell;
    padding-top: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    flex-grow: 1;
}

a {
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

a:hover {
    color: #f45d00;
    cursor: pointer;
    text-decoration: none;
}


/***BODY***/
.ng-csp,
#body-login {
    background-color: #FAFAFA !important;
}

#body-login {
    /* Old browsers */
    text-align: left;
    display: contents;
}

html,
body {
    /*color: #333; Don't do this, this breaks dark theme*/
    font-family: Arial, Verdana, sans-serif;
    margin: 0;
}

#page {
    /*min-height: max(calc(100% - 200px), 400px);*/
    padding-bottom: 200px; /*same as combined footer height*/
    /*background: url("../img/bg_page.png") left center;*/
    background-image: url("../img/bg_page.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 30% auto;
    background-position: 0% 30%;
    background-color: #FAFAFA;
    min-height: 500px;
}

#b2access-login {
    display: flex;
    text-align: center;
    justify-content: center;
}

/**** NAVBAR ***/
.navbar-default {
    border: 0 !important;
    margin-top: 30px;
}

.navbar-default .navbar-nav>li>a {
    color: #222222 !important;
    font-weight: 500;
    font-size: 16px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #E5601E !important;
    font-weight: 500;
    font-size: 16px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: 0;
}

.navbar-form {
    float: none !important;
}

.navbar-footer {
    background-color: transparent !important;
    border: 0 !important;
}

.navbar-footer ul li a {
    background-color: transparent !important;
    color: #666 !important;
}

.navbar-footer ul li a:hover {
    color: #333;
}

#searchform-input-group {
    padding: 8px 0;
}

#search-box-main .navbar {
    margin: 20px 0;
}

#body-login .navbar-default {
    margin-left: 20px;
}

#page>.container {
    min-height: 100%;
    /*padding-bottom: 200px; Handled by #page*/
    box-sizing: border-box;
    padding: 0 10% 0 10%;
    margin-right: auto;
    margin-left: auto;
}

#body-dps {
    position: inherit;
}

table {
    white-space: inherit;
}

#page .description-home,
#page .visit-helpdesk {
    width: min(400px, 90%);
}

#page .failserver a {
    line-height: 40px;
    text-decoration: none;
}

#page .visit-helpdesk a {
    display: block;
    border-radius: var(--border-radius-rounded, 4px);
}

#page .failserver a:hover {
    line-height: 40px;
    text-decoration: underline;
    color: #E5601E !important;
    text-decoration-color: #E5601E !important;
}

#page .visit-helpdesk a:visited,
#page .visit-helpdesk a:link {
    text-decoration-color: white;
    color: white;
}

#page .failserver .text-align-left {
    text-align: left;
}

#page .failserver .extra-space-top {
    margin-top: 20px;
}