
/* HEADERS */
#body-login {
    background: #FFFFFF; /* Old browsers */
    text-align: left;
}

#body-login input[type="text"], #body-login input[type="password"], #body-login input[type="email"], #body-login input[type="submit"] {
    border: 1px solid #DDD;
}

a {
    color: #222;
}

a:hover {
    color: #E5601E;
}

.grouptop {
    margin: 0;
}

.header-appname {
    color: #E5601E
}

/*** STRUCTURE LAYOUT ***/
html, body {
    color: #333;
    font-family: Arial, Verdana, sans-serif;
}

#header-top {
    background: #F45D00 !important;
    padding: 5px 0;
}

#header-top a {
    color: #FFFFFF;
}

#body-login #header, #body-faq #header {
    padding: 1% 0;
    background: #FFFFFF url("../img/img_header.png") no-repeat top right;
}

body > #page {
    height: 800px;
    min-height: 55%;
    max-height: calc(100% - 300px);
    background: url("../img/bg_page.png") no-repeat left center;
    background-size: contain;
    position: relative;
}

body.internalpage {
    background: #FFFFFF;
    padding: 0;
}

body.internalpage > #page {
    background-image: none !important;
    padding: 20px 0;
}

.description-home {
    margin-top: 80px;
    float: right !important;
}

footer {
    background: #F7F3E9 url("../img/color-line.jpg") repeat-x top left;
    padding: 30px 0px 0px 0px;
    margin-top: 0px;
    font-size: 12px;
    height: 90px !important;
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
}

/*** GENERAL STYLE ELEMENTS ***/
h1 {
    font-weight: 600;
}

a {
    color: #F45D00;
    text-decoration: none;
}

/**** NAVBAR ***/
.navbar-default {
    background-color: transparent !important;
    border: 0 !important;
    margin-top: 30px;
}

.navbar-default .navbar-nav > li > a {
    color: #222222 !important;
    font-weight: 500;
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #E5601E !important;
    font-weight: 500;
    font-size: 16px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}

.navbar-form {
    float: none !important;
}

.navbar-footer {
    background-color: transparent !important;
    border: 0 !important;
}

.navbar-footer ul li a {
    background-color: transparent !important;
    color: #666;
}

.navbar-footer ul li a:hover {
    color: #333;
}

#searchform-input-group {
    padding: 8px 0;
}

#search-box-main .navbar {
    margin: 20px 0;
}

#body-login .navbar-default {
  margin-left: 20px;
}

/*** OLD CSS STYLE ***/
.right-not-rounded {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.left-not-rounded {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.no-padding {
    padding: 0;
}

#body-login input[type="password"] {
    padding-right: 10px;
    box-sizing: initial;
    min-width: initial;
    border-top: unset;
}

#body-login .groupbottom input {
    box-shadow: unset !important;
}

#body-login form, #register_link {
    margin: 1em auto;
}

#register_link {
    padding: 0 10px;
    width: 280px;
}

#register_link a {
    color: #E5601E !important;
}

#body-login p.info, #body-login form fieldset legend, #body-login #datadirContent label, #body-login form fieldset .warning-info, #body-login form input[type="checkbox"] + label {
    color: #222;
}

#body-login #remember_login:hover + label, #body-login #remember_login:focus + label {
    color: #E5601E !important;
}

#body-login footer {
    position: absolute;
}

#body-login footer .navbar-footer, #body-faq footer .navbar-footer {
    margin-bottom: unset;
}

/****** LAYOUT USER *****/

#notification, #update-notification {
    display: none !important;
}

#body-user #header {
    border-bottom: 1px solid #DDD;
    background: #FFFFFF url("../img/img_header.png") no-repeat 100% 20% !important;
}

#body-user #header, #body-settings #header {
    height: 210px;
}

#body-user #header #header-top, #body-public #header #header-top {
    background: #F45D00;
    padding: 0px 20px;
}

#body-user #controls, #body-settings #controls {
    top: 210px;
}

#body-user #content-wrapper,  #body-settings #content-wrapper {
    padding-top: 210px;
}

#body-user #header, #body-settings #header, #body-public #header {
    background: #FFF;
}

#header .logo-icon {
    background-image: url("../img/logo.png");
}

#body-public #header .logo-icon{
    background-image: url("../img/logo-share.png");
    width:125px;
    height: 45px;
}

#body-user #header .logo-icon, #body-settings #header .logo-icon  {
    height: 128px;
    width: 232px;
}

#body-user #owncloud, #body-settings #owncloud {
    top: 35px;
    left: 20px;
}

#header .menutoggle {
    padding-top: 5px;
    margin-left: 0px;
    padding-left: 0px;
    left: 0;
    bottom: 0px;
}

#header .menutoggle h1 {
    color: #E5601E;
}


#header-eudat {
    top: 45px;
}

.icon-caret {
    background-image: url('/core/img/actions/caret-dark.svg');
}

#navigation {
    top: 210px;
}

#expanddiv {
    top: 210px;
}

div#navigation.menu, div#expanddiv.menu{
    background-color: #33549A;
}

#settings {
    color: #333;
    cursor: pointer;
    float: right;
    padding-top: 125px;
}

#expand:hover, #expand:focus, #expand:active {
    color: #E5601E !important;
}

.searchbox {
    padding-top: 125px;
}

.searchbox input[type="search"]:valid {
    width: 0;
}

.searchbox input[type="search"]:focus, .searchbox input[type="search"]:active {
    width: 155px;
}

.searchbox input[type="search"]:focus, .searchbox input[type="search"]:active, .searchbox input[type="search"]:valid {
    background-color: #33549A;
}

#body-user header #header #gb_menu {
    position: absolute;
    left: 350px;
    top: 80px;
}

#body-user header #header #gb_menu ul li {
    display: inline-block;
    padding: 0 10px;
}

#body-user header #header #gb_menu ul > li > a {
    color: #222222 !important;
    font-weight: 500;
    font-size: 16px;
}

#body-user header #header #gb_menu ul > li > a:hover {
    color: #E5601E !important;
    font-weight: 500;
    font-size: 16px;
}

@media (max-width: 767px) {
    #body-user header #header #gb_menu {
        display: none;
    }
}

/****** END LAYOUT USER *****/

/***** LAYOUT SETTINGS ****/

#body-settings #header {
    border-bottom: 1px solid #DDD;
    background: #FFFFFF url("../img/img_header.png") no-repeat 100% 20% !important;
}

#body-settings #header #header-top {
    background: #F45D00;
    padding: 0px 20px;
}

#body-settings header #header #gb_menu {
    position: absolute;
    left: 350px;
    top: 80px;
}

#body-settings header #header #gb_menu ul li {
    display: inline-block;
    padding: 0 10px;
}

#body-settings header #header #gb_menu ul > li > a {
    color: #222222 !important;
    font-weight: 500;
    font-size: 16px;
}

#body-settings header #header #gb_menu ul > li > a:hover {
    color: #E5601E !important;
    font-weight: 500;
    font-size: 16px;
}

/***** SHARE SCREEN  SETTINGS ****/

#body-public #owncloud {
    padding: 0px 0px 0px 0px;
    left: 10px;
}

#body-public #header #save-button, #body-public #header #download {
    background: #33549A;
    color: #FFF;
}

#body-public #header {
    background: #F45D00;
}

#body-public .header-appname-container {
    left: 100px;
}

#body-public .header-appname {
    font-family: Arial, Verdana, sans-serif;
    color: #204d74;
    font-size: 24px;
}

#body-public footer .info {
    display: none;
}
#body-public footer {
    background: #F7F3E9 url("../img/color-line.jpg") repeat-x top left;
    height: 20px !important;
 }

.header {
    position: fixed;
    z-index: 999;
    width: 100%
}

@media (max-width: 767px) {
    #body-settings header #header #gb_menu {
        display: none;
    }

    #body-public #header-eudat #gb_menu {
        display: none;
    }
}

#app-sidebar{
    top: 210px;
}

#body-user table.multiselect thead {
    top: 220px;
    padding-top: 33px;
}
