<!DOCTYPE html>
<!--[if lte IE 8]><html class="ng-csp ie ie8 lte9 lte8" data-placeholder-focus="false" lang="<?php p($_['language']); ?>" ><![endif]-->
<!--[if IE 9]><html class="ng-csp ie ie9 lte9" data-placeholder-focus="false" lang="<?php p($_['language']); ?>" ><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="ng-csp" data-placeholder-focus="false" lang="<?php p($_['language']); ?>"><!--<![endif]-->

<head data-requesttoken="f4XUAhYGMcn6dTo5p8OIViAouCd7tC">
    <title>B2DROP - Sorry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-itunes-app" content="app-id=543672169">
    <link rel="shortcut icon" href="/themes/b2drop/core/img/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="themes/b2drop/core/img/favicon-touch.png" />
    <link rel="stylesheet" href="/themes/b2drop/core/css/server.css" type="text/css" media="screen" />
    <script src="/themes/b2drop/core/js/b2drop-include.js"></script>
</head>

<body id="page">
    <noscript>
        <div id="nojavascript">
            <div>This application requires JavaScript for correct operation. Please <a
                    href="http://enable-javascript.com/" target="_blank">enable JavaScript</a> and reload the page.
            </div>
        </div>
    </noscript>

    <div w3-include-html="/themes/b2drop/core/templates/components/header.html"></div>

    <div class="container failserver">
        <h1>Sorry!</h1>
        <div class="text-align-left">
            <p>
                Currently, we are facing unexpected high traffic, undergoing maintenance, or addressing an issue
                that has led you to our failserver.
            </p>
        </div>
        <p class="extra-space-top">
            <b>Please come back in a few minutes and reload this page.</b>
        </p>
        <div class="text-align-left">
            <p class="extra-space-top">
                If the problem still persists, you have any urgent inquiries or need
                assistance with a specific
                matter, please feel free to reach out to our support team at our
                <a href="https://eudat.eu/contact-support-request?service=B2DROP">helpdesk</a>.
                We will do our best to provide timely updates on the situation and keep you informed about the
                progress.
            </p>
            <p class="extra-space-top">
                Please rest assured that our team is working diligently to resolve the
                situation and restore normal
                service as quickly as possible. We understand how frustrating and inconvenient this can be, and we
                deeply regret any disruption it has caused to your experience.
            </p>
        </div>
        <div class="visit-helpdesk">
        <div class="extra-space-top login-option">
            <a
                href="https://eudat.eu/contact-support-request?service=B2DROP">
                Visit Helpdesk
            </a></div>
        </div>
    </div>

    <div w3-include-html="/themes/b2drop/core/templates/components/footer.html"></div>
</body>
<script>includeHTML()</script>

</html>
