<!DOCTYPE html>
<!--[if lte IE 8]><html class="ng-csp ie ie8 lte9 lte8" data-placeholder-focus="false" lang="<?php p($_['language']); ?>" ><![endif]-->
<!--[if IE 9]><html class="ng-csp ie ie9 lte9" data-placeholder-focus="false" lang="<?php p($_['language']); ?>" ><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="ng-csp" data-placeholder-focus="false" lang="<?php p($_['language']); ?>"><!--<![endif]-->

<head data-requesttoken="f4XUAhYGMcn6dTo5p8OIViAouCd7tC">
    <title>B2DROP - Contact us!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-itunes-app" content="app-id=543672169">
    <link rel="shortcut icon" href="/themes/b2drop/core/img/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/themes/b2drop/core/img/favicon-touch.png" />
    <link rel="stylesheet" href="/themes/b2drop/core/css/server.css" type="text/css" media="screen" />
    <script src="/themes/b2drop/core/js/b2drop-include.js"></script>
</head>

<body id="page">
    <noscript>
        <div id="nojavascript">
            <div>This application requires JavaScript for correct operation. Please <a
                    href="http://enable-javascript.com/" target="_blank">enable JavaScript</a> and reload the page.
            </div>
        </div>
    </noscript>

    <div w3-include-html="/themes/b2drop/core/templates/components/header.html"></div>

    <div class="container requests">
        <h1>Please contact us!</h1>
        <div class="text-align-left">
            <p>
                The B2DROP service is still <b>free to use</b>, but limited to <b>scientific use-cases</b>.
                To request access to B2DROP, follow this steps:
            </p>
            <p>
                How to request access:
            </p>
            <ul>
                <li style="margin: 10px 0">Login at <a href="https://b2access.eudat.eu" target="_blank">b2access.eudat.eu</a> with the same account you would like to be activated for B2DROP</li>
                <li style="margin: 10px 0">Go to the "<b>profile</b>" section</li>
                <li style="margin: 10px 0">Copy and paste the "<b>voPersonID</b>"</li>
                <li style="margin: 10px 0"><a href="https://eudat.eu/contact-support-request?service=B2DROP" target="_blank">Contact us</a> sending a short description of your use case and your "<b>voPersonID</b>"</li>
            </ul>
        </div>
        <div class="text-align-left">
            <p>
                Your request is going to be validated and we come back to you.
            </p>
        </div>
        <div class="contact-us">
            <div class="extra-space-top login-option">
                <a href="https://eudat.eu/contact-support-request?service=B2DROP">
                    Helpdesk
                </a>
            </div>
        </div>
    </div>

    <div w3-include-html="/themes/b2drop/core/templates/components/footer.html"></div>
</body>
<script>includeHTML()</script>

</html>