#header .logo {
	background-image: url(../img/logo.svg);
	background-repeat: no-repeat;
	width: 250px;
	height: 208px;
	margin: 0 auto;
}

#header .logo-wide {
	background-image: url(../img/logo-wide.svg);
	background-repeat: no-repeat;
	width: 147px;
	height: 32px;
}

#header .logo-icon {
        /* display logo so appname can be shown next to it */
        display: inline-block;
        background-image: url(../img/logo-icon.svg);
        background-repeat: no-repeat;
        width: 62px;
        height: 46px;
}
