#header .logo {
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	width: 261px;
	height: 180px;
	margin: 0 auto;
}

#header .logo-wide {
	background-image: url(../img/logo-wide.png);
	background-repeat: no-repeat;
	width: 150px;
	height: 34px;
}

#header .logo-icon {
	/* display logo so appname can be shown next to it */
	display: inline-block;
	background-image: url(../img/logo-icon.png);
	background-repeat: no-repeat;
	width: 62px;
	height: 34px;
}
